/*html {*/
    /*position: relative;*/
    /*min-height: 100%;*/
/*}*/
body {

    /* Margin bottom by footer height */
    /* DEMO margin-bottom: 60px; */
}
#header {
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
    /* Set the fixed height of the footer here */
    /*height: 100px;*/
    /*background-color: #f5f5f5;*/
}
#footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
}

body.sequence-layout {
    margin-top: 40px;
}

nav.navbar div.sequence-header {
    padding-top: 6px;
}

#step_content {
    min-height: 100%;
    height: 100%;
    /* DEMO padding-bottom: 60px; */
}

#step_content iframe {
    overflow: scroll;
    border: 0px;
}

.pathway-done {
    margin-left: 20px !important;
}

.pathway-done:hover {
    background-color: gainsboro !important; /* FLATTY GREY */
    color: black !important;
}

/* STUDENT SEQUENCE THEME ADJUSTMENTS */
section.sequence-content {
    margin-left: 0px !important;
}