.flatty-grey	 { color: gainsboro; }
.flatty-contrast { color: #f01611; }
.flatty-blue	 { color: #0087b9; }
.flatty-purple	 { color: #7839da; }
.flatty-green	 { color: #379e51; }
.flatty-orange	 { color: #e48a07; }
.flatty-red		 { color: #f34541; }
.flatty-inverse	 { color: #363636; }