/** PROGRESS */
.upcoming-resource-student-name
{
    vertical-align: middle !important;
}

.resource-box {
    width : 50px;
    padding : 8px;
}

/** D3 CHARTS */

/** ASSSMENT : IREADY DIAGNOSTIC */
/*body {*/
/*font: 10px sans-serif;*/
/*}*/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

path.link {
    fill: none;
    stroke: #666666;
    stroke-width: 1.5px;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.route {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
}

/** ASSESMENT : PLACEMENT */
.assessment-student-placement .x-axis path {
    stroke:white;
    fill:none;
}
.assessment-student-placement .x-axis line {
    fill: none;
    stroke: none;
    stroke-opacity:.8;
    shape-rendering: crispEdges;
}
.assessment-student-placement .bars rect {
    fill:steelblue;
    fill-opacity:.9;
}
.assessment-student-placement  .title {
    font-weight: bold;
}
.assessment-student-placement #precise-value {
    fill:white;
    font-size: 12px;
}

/* PROGRESS : TIME ON MATH */
.progress-time-on-math .x-axis path {
    stroke:white;
    fill:none;
}
.progress-time-on-math .x-axis line {
    fill: none;
    stroke: none;
    stroke-opacity:.8;
    shape-rendering: crispEdges;
}
.progress-time-on-math .bars rect {
    fill:steelblue;
    fill-opacity:.9;
}
.progress-time-on-math  .title {
    font-weight: bold;
}
.progress-time-on-math #time {
    fill:black;
    font-size: 12px;
}

/* PROGRESS : LEARNING POINTS */
.progress-learning-points .x-axis path {
    stroke:white;
    fill:none;
}
.progress-learning-points .x-axis line {
    fill: none;
    stroke: none;
    stroke-opacity:.8;
    shape-rendering: crispEdges;
}
.progress-learning-points .bars rect {
    fill:steelblue;
    fill-opacity:.9;
}
.progress-learning-points  .title {
    font-weight: bold;
}
.progress-learning-points #time {
    fill:black;
    font-size: 12px;
}
